NEXT_PUBLIC_RPC=https://api.devnet.solana.com
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_BONDING_CURVE_PROGRAM_ID=CoL4Sti1wZbv8tJSYXC6pLSzhwj9eeArw9mdAbsS69un
NEXT_PUBLIC_SOUL_GENERATOR_PROGRAM_ID=34erFyVvAiLsTwDivcauQCJnVX16ZjEwgJ6tEs5NeaMZ
NEXT_PUBLIC_SENTRY_DSN=
